* {
    margin: 0;
    padding: 0;
    color-scheme: light;
    scroll-behavior: smooth;
    /* filter: grayscale(1);1 *//* 网页黑白 */
}
body{
    background-color:#cadeea;
}
.nav-br{
    -webkit-user-select: none;
    user-select: none;
}
footer iframe{
    width: 100vw;
}
