.footer {
    /*padding: 10px;*/
    text-align: center;
    background-color: #609dbf;
    width: 100vw;
    height: 150px;
    user-select: none;
}
.footer p{
    font-family: ZX-C-汉仪文黑85W;
    font-weight: bold;
}