/* 关于头部标题栏的样式 */
*{
    margin: 0;
    padding: 0;
}
.nav-bs {
    /*主容器*/
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    background-color: rgb(96, 157, 191, 0.8);
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
}
.nav-logo{
    /*logo容器*/
    width: 15%;
}
.nav-logo a{
    /*防止链接穿帮*/
    text-decoration: none;
    color: black;
    width: 44px;
    height: 44px;
    cursor: pointer;
}
.nav-logo img{
    /*logo大小和圆角设置*/
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
}
.nav{
    width: 85%;
    height: 44px;
}
.nav a{
    /*链接栏*/
    text-decoration: none;
    color: black;
    font-family: 楷体;
    font-size: 16px;
    cursor: pointer;
    /*display: inline-block;*/
}
.nav a:hover{
    /*《鏈接欄的誘惑(18嵗以下勿看)》*/
    color: #cadeea;
}
.nav-link{
    width: 400px;
    text-align: left;
    position: fixed;
    top: 20px;
    left: 15%;
}
.honglvdeng{
    /*“红绿灯”右对齐*/
    position: fixed;
    top: 20px;
    right: 60px;
    text-align: right;
    width: 100px;
    height: 44px;
}
.honglvdeng a img{
    /*“红绿灯”盒子设置*/
    width: 12px;
    height: 12px;
    border-radius: 50%;
}