*{
    margin: 0;
    padding: 0;
}
.nav-bs {
    /*主容器*/
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    background-color: rgb(96, 157, 191, 0.8);
    z-index: 9999;
}
.nav-logo{
    /*logo容器*/
    width: 40%;
}
.nav-logo a{
    /*防止链接穿帮*/
    text-decoration: none;
    color: black;
}
.nav-logo img{
    /*logo大小和圆角设置*/
    border-radius: 50%;
    overflow: hidden;
    width: 22%;
    height: 22%;
}
.nav a {
    /*链接栏*/
    text-decoration: none;
    color: black;
    font-family: 楷体;
    font-size: 16px;
    /*display: inline-block;*/
}
.nav a img{
    /*“红绿灯”*/
    width: 1%;
    height: 1%
}