*{
    margin: 0;
    padding: 0;
}
.nav-bs {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    background-color: rgb(96, 157, 191, 0.8);
}
.nav-logo{
    width: 40%;
}
.nav-logo a{
    text-decoration: none;
    color: black;
}
.nav-logo img{
    border-radius: 50%;
    overflow: hidden;
    width: 5.5%;
    height: 5.5%;
}
.nav a {
    text-decoration: none;
    color: black;
    font-family: 楷体;
    font-size: 16px;
    /*display: inline-block;*/
}