.content{
    text-align: center;
    font-family: ZX-C-Aa卑微的我喜欢遥远的你;
    font-weight: bold;
}
.title{
    padding-left: 50px;
    text-align: left;
    font-size: xx-large;
    font-family: ZX-C-汉仪文黑85W;
    user-select: none;
}
.author{
    padding-left: 50px;
    text-align: left;
    font-size: large;
    font-family: ZX-C-汉仪文黑85W;
    user-select: none;
    color: rgb(0,0,0,0.6);
}
.state{
    padding-left: 50px;
    text-align: left;
    font-weight: bold;
    font-family: 仿宋;
    color: rgb(0,0,0,0.5);
    user-select: none;
}
.sp-linethrouge         {text-decoration: line-through;color: rgb(0,0,0,0.5);}
.sp-underline           {text-decoration: underline red;}